# Copyright 2024-Present Kamesh Sampath
# Licensed under the Apache License, Version 2.0
site_name: "Balloon Popper Demo"
site_url: https://kameshsampath.github.io/balloon-popper-demo/
site_description: >
  This demo showcases streaming analytics using RisingWave with Apache Iceberg integration, visualized through a
  Streamlit dashboard. It processes real-time data from a balloon popping game, demonstrating RisingWave's stream
  processing capabilities connected to Apache Iceberg for data lake storage. The demo features live game metrics,
  materialized views, and shows how to implement end-to-end stream processing workflows with interactive visualizations.
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  palette:
    primary: white
  logo: assets/snowflake-logo-blue.svg
  favicon: assets/favicon.ico
  font: false
  features:
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.footer
    - toc.follow
nav:
  - "Overview": index.md
  - "Environment Setup": setup.md
  - "Create Cluster": local_cloud.md
  - "Catalog Setup": catalog_setup.md
  - "Data Pipeline":
      - "Iceberg Schema Design": iceberg_schema_design.md
      - "Implementing the Pipeline": implementing_data_pipeline.md
  - "Running the Application": run_app.md
  - "Verifying the Pipeline": verifying_data_pipeline.md
  - "Analytics Dashboards":
      - "Dashboard Overview": dashboards.md
      - "Leaderboard Dashboard": leaderboard.md
      - "Color Analysis Dashboard": color_analysis.md
      - "Performance Analysis Dashboard": performance_trends.md
  - "Summary": "summary.md"
  - "Troubleshooting": "troubleshooting.md"
markdown_extensions:
  - toc:
      baselevel: 1
      permalink: "&para;"
  - admonition
  - attr_list
  - def_list
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - tables
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
plugins: []
# plugins:
#     - search
#     - table-reader
