# Copyright 2024-Present Kamesh Sampath
# Licensed under the Apache License, Version 2.0
AWS_ENDPOINT_URL={{ plf_aws_endpoint_url }}
AWS_REGION={{ plf_aws_region }}
AWS_ACCESS_KEY_ID={{ plf_aws_access_key_id | default('test') }}
AWS_SECRET_ACCESS_KEY={{ plf_aws_secret_access_key | default('test') }}
POLARIS_AUTHENTICATION_TOKEN_BROKER_TYPE=rsa-key-pair
POLARIS_AUTHENTICATION_TOKEN_BROKER_RSA_KEY_PAIR_PUBLIC_KEY_FILE=/polaris/credentials/public-key
POLARIS_AUTHENTICATION_TOKEN_BROKER_RSA_KEY_PAIR_PRIVATE_KEY_FILE=/polaris/credentials/private-key
POLARIS_REALM_CONTEXT_REALMS={{ plf_realm }}
POLARIS_REALM_CONTEXT_HEADER_NAME=Polaris-Realm
POLARIS_REALM_CONTEXT_REQUIRE_HEADER=false
POLARIS_PERSISTENCE_TYPE=eclipse-link
POLARIS_PERSISTENCE_ECLIPSELINK_CONFIGURATION_FILE=/polaris/config/persistence.xml
POLARIS_PERSISTENCE_ECLIPSELINK_PERSISTENCE_UNIT={{ plf_jpa_persistence_unit_name }}
JAVA_OPTS_APPEND=-Dquarkus.log.level={{ plf_polaris_log_level }} -Dquarkus.log.console.level={{ plf_polaris_log_level }} -Dquarkus.log.category."org.apache.polaris".level={{ plf_polaris_log_level }} -Dquarkus.log.category."org.apache.polaris".min-level=TRACE