# Copyright 2024-Present Kamesh Sampath
# Licensed under the Apache License, Version 2.0
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: polaris

resources:
  - job-bootstrap.yaml
  - job-purge.yaml
