# Copyright 2024-Present Kamesh Sampath
# Licensed under the Apache License, Version 2.0
apiVersion: apps/v1
kind: Deployment
metadata:
  name: balloon-game-data-generator
spec:
  replicas: 0
  selector:
    matchLabels:
      app: balloon-game-data-generator
  template:
    metadata:
      labels:
        app: balloon-game-data-generator
    spec:
      containers:
        - name: generator
          image: ghcr.io/kameshsampath/balloon-popper-demo/balloon-pop-generator
          imagePullPolicy: Always
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          envFrom:
            - configMapRef:
                name: generator-config
