# Copyright 2024-Present Kamesh Sampath
# Licensed under the Apache License, Version 2.0
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml

configMapGenerator:
  - name: generator-config
    literals:
      - KAFKA_BOOTSTRAP_SERVERS=my-cluster-kafka-bootstrap.kafka:9092
      - KAFKA_TOPIC=balloon-game
      - BONUS_PROBABILITY=0.15
      - APP_LOG_LEVEL=INFO
      - DELAY=1.0
